body {
  background-color: #95979b;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #121212;
  font-size: 18px;
  line-height: 22px;
}

.main {
  width: 100%;
  max-width: 980px;
  margin: 20px auto 80px;
  padding: 0 10px;
}